@model IEnumerable<GestionaleHotel.Models.Checkout>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table text-center">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumeroCamera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InizioSoggiorno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FineSoggiorno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TariffaSoggiorno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Caparra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaldoFinale)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCamera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InizioSoggiorno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FineSoggiorno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TariffaSoggiorno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Caparra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaldoFinale)
            </td>
        </tr>
        foreach (var servizio in item.listaServizi)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => servizio.Descrizione)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => servizio.DataServizio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => servizio.Prezzo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => servizio.Quantita)
                </td>
            </tr>
        }
    }

</table>
